<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <style>
div {


  margin-bottom: 3px;
}

       * {

         font-size: 20px;
    }


ul, li {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Global Styles */

body {
	line-height: 1;
	font-family: "Lato", sans-serif;
	background-color: #EFF1F2;
}

.container {
	width: 70%;
	margin: 1em auto 3em;
	border: 1px solid #efefef;
}

.panel, li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #efefef;
	background-color: #E7E8EB;
}

.text-input {
	border: 1px solid #dedede;
	padding-left: 10px;
	width: 70%;
	height: 35px;
	color: #555;
}


button {
	color: #555;
	background-color: #FFFFFF;
	border: 1px solid #bbb;
	outline: 0;
	width: 100px;
	height: 38px;
	cursor: pointer;
	font-size: 14px;
}

/* Task  area */

.list li {
	background-color: #3465A4;
}

.list li button {
	background-color: transparent;
	border: 1px solid #3465A4;
	color: #ddd;
	visibility: hidden;
	font-size: 20px;
	font-weight: bold;
}

.list li:hover > button {
	visibility: visible;
}

.list label {
	padding-right: 10px;
	display: inline-block;
	width: 70%;
	font-size: 18px;
	line-height: 24px;
	color: #fcfcfc;
	z-index: 2;
	overflow: hidden;
}

.list li.done label {
	color: #d9d9d9;
	text-decoration: line-through;
}

/* Instructions and Credit */

.credit {
	margin: 1em auto 5em;
	text-align: center;
	font-size: 13px;
	line-height: 0.6;
	color: #999;
}

.credit a {
	text-decoration: none;
	color: #999;
}

.credit a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
	.container {
		width: 90%;
		max-width: 90%;
	}

	.text-input, .list label {
		width: 60%;
		font-size: 14px;
	}

	button {
		width: 50px;
		height: 50px;
      margin-bottom: 10px;
      margin-left: 10px;
	}
}

</style>
</head>
<body>
<p>Eкспертна система для  медичної діагностики</p>

<div id='example-3'>
     <!--   "Нежить"  "Кашель" "Біль горла" "Збільшення підчелюсних залоз" "Віддих"  "Різна висипка"
    "Тошнота,рвота"   "Опухлість завушних залоз"  "Болі в животі"  "Розлади кишківника"  "Пожовтіння шкіри"
    "Головний біль"   "Озноб"    "Світлобоязнь" -->
   <div class="pretty p-default p-curve">
         <input type="checkbox"  value="Темпаратура" v-model="checkedNames">
        <div class="state">
            <label>Темпаратура</label>
        </div>
    </div>

   <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Нежить" v-model="checkedNames">
        <div class="state">
            <label>Нежить</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Кашель" v-model="checkedNames">
        <div class="state">
            <label>Кашель</label>
        </div>
    </div>


  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Біль горла" v-model="checkedNames">
        <div class="state">
            <label>Біль горла</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Збільшення підчелюсних залоз" v-model="checkedNames">
        <div class="state">
            <label>Збільшення підчелюсних залоз</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Віддих" v-model="checkedNames">
        <div class="state">
            <label>Віддих</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Різна висипка" v-model="checkedNames">
        <div class="state">
            <label>Різна висипка</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Тошнота,рвота" v-model="checkedNames">
        <div class="state">
            <label>Тошнота,рвота</label>
        </div>
    </div>

  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Опухлість завушних залоз" v-model="checkedNames">
        <div class="state">
            <label>Опухлість завушних залоз</label>
        </div>
    </div>

    <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Болі в животі" v-model="checkedNames">
        <div class="state">
            <label>Болі в животі</label>
        </div>
    </div>

 <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Розлади кишківника" v-model="checkedNames">
        <div class="state">
            <label>Розлади кишківника</label>
        </div>
    </div>


   <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Пожовтіння шкіри" v-model="checkedNames">
        <div class="state">
            <label>Пожовтіння шкіри</label>
        </div>
    </div>

    <div class="pretty p-default p-curve" >
        <input type="checkbox"  value="Головний біль" v-model="checkedNames">
        <div class="state">
            <label>Головний біль</label>
        </div>
    </div>

    <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Озноб" v-model="checkedNames">
        <div class="state">
            <label>Озноб</label>
        </div>
    </div>


  <div class="pretty p-default p-curve">
        <input type="checkbox"  value="Світлобоязнь" v-model="checkedNames">
        <div class="state">
            <label>Світлобоязнь</label>
        </div>
    </div>



  <br>
  <span id = "patient"></span><br>
  <span>Симптоми   : {{ checkedNames }}</span>

    <ul >
  <li v-for="(item,key,index) in res">
    {{ key }} - {{item}}
  </li>
</ul>
</div>




<div class="container" id="todo">

			<section class="panel">

				<input type="checkbox" id="mark-all" @click="selectAll" :checked="areAllSelected">
				<input v-model="newTask" @keyup.enter="addTask" placeholder="Додати пацієнта" autofocus class="text-input">
				<button @click="clearList">Очистити список</button>

			</section>

			<section class="list">

				<ul class="list-item">

					<li v-for="task in tasks" :class="{done: isChecked(task)}">

						<input type="checkbox" class="checkbox" @click="check" v-model="task.checked">

						<input type="text" v-if="task === editingTask" v-auto-focus class="text-input" @keyup.enter="endEditing(task)" @blur="endEditing(task)" v-model="task.text">

						<label for="checkbox" v-if="task !== editingTask" @dblclick="editTask(task)">{{ task.text }}</label>


                        <button  @click="diagnose(task)">Перевірка</button>
                         <button @click="results(task)">Результати</button>
						<button class="delete" @click="removeTask(task)">X</button>

					</li>

				</ul>

			</section>

	</div>



<script>



document.addEventListener('DOMContentLoaded', function(){ // Аналог $(document).ready(function(){
 //alert("hello");
 var l = window.localStorage;
 l.clear();

});


Vue.directive("auto-focus", {
		bind: function () {
			Vue.nextTick(function () {
				this.el.focus();
			}.bind(this));
		}
	});

	new Vue({

		el: "#todo",

		data: {
			newTask: "",
			tasks: [

			],

			editingTask: {

			}
		},

		computed: {
			areAllSelected: function () {
				return this.tasks.every(function(task) {
					return task.checked;
				}) &&  this.tasks.length > 0;
			},
		},

		methods: {

			addTask: function () {
				var task = this.newTask.trim();
				if (task) {
					this.tasks.push({text: task, checked: false});
					this.newTask = "";
				}
			},

			removeTask: function (task) {
        var index = this.tasks.indexOf(task);
				this.tasks.splice(index, 1);
			},
            diagnose: function (task) {
        var index = this.tasks.indexOf(task);
			//	alert(this.tasks[index].text);

               document.getElementById("patient").textContent=this.tasks[index].text;
			},
           results: function (task) {
        var index = this.tasks.indexOf(task);
			//	alert(this.tasks[index].text);

               alert("Результати паціента "+this.tasks[index].text +"  "+ localStorage.getItem(this.tasks[index].text));
			},
			editTask: function (task) {
				this.editingTask = task;
			},

			endEditing: function (task) {
				this.editingTask = {};
				if (task.text.trim() === ""){
					this.removeTask(task);
				}

			},

			clearList: function () {
				this.tasks = [

				];
			},

			selectAll: function (task) {
				var targetValue = this.areAllSelected ? false : true;
				for (var i = 0; i < this.tasks.length; i++) {
					this.tasks[i].checked = targetValue;
				}
			},

			check: function (task) {
				task.checked = true;
			},

			isChecked: function (task) {
				return task.checked;
			}

		}
	});


    var SimptomDisasterTable = {
        "Темпаратура":
            {"Кір":20,"Грип":20,"Запалення легень":20,'Ангіна':20,"Скарлатина":15,'Свинка':30,"Дизентерія":20,'Гепатит':0},
        "Нежить":
         {"Кір":10,"Грип":10,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Кашель":
             {"Кір":10,"Грип":10,"Запалення легень":20,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Біль горла":
             {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':20,"Скарлатина":15,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Збільшення підчелюсних залоз":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':30,"Скарлатина":10,'Свинка':30,"Дизентерія":0,'Гепатит':0},
        "Віддих":
         {"Кір":0,"Грип":0,"Запалення легень":30,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Різна висипка":
         {"Кір":30,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":30,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Тошнота,рвота":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":30,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Опухлість завушних залоз":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':40,"Дизентерія":0,'Гепатит':0},
        "Болі в животі":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":40,'Гепатит':40},
        "Розлади кишківника":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":40,'Гепатит':0},
        "Пожовтіння шкіри":
         {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':60},
        "Головний біль":
         {"Кір":0,"Грип":30,"Запалення легень":15,'Ангіна':15,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Озноб":
         {"Кір":0,"Грип":30,"Запалення легень":15,'Ангіна':15,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},
        "Світлобоязнь":
         {"Кір":30,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0},

    }


    new Vue({
          el: '#example-3',
          data: {
            checkedNames: [],
            res:[]
          },
          watch:{
                 checkedNames: function(){
                      this.res = {"Кір":0,"Грип":0,"Запалення легень":0,'Ангіна':0,"Скарлатина":0,'Свинка':0,"Дизентерія":0,'Гепатит':0};
                    // alert(JSON.stringify(this.checkedNames));
                    //  for (var key in  res){
                      //     alert(key);
                      //       alert(res[key]);}

                     //alert(JSON.stringify(res));
                   //   for (let key in  res){
                         // alert("hh");
                        //  alert(key);
                       /*   alert(key);
                            alert(res[key]);
                            alert(SimptomDisasterTable[item][key]);*/
                      //  }

                    for(var item of this.checkedNames)
                    {
                       // alert(item);
                       // alert(JSON.stringify(SimptomDisasterTable[item]));
                        for (var key in  this.res){
                         //   alert(res[key]);
                           // alert(res[key] +" "+SimptomDisasterTable[item][key]);
                            this.res[key] += SimptomDisasterTable[item][key];
                        }
                    }

                    var sortable = [];
                    for (var vehicle in this.res) {
                        sortable.push([vehicle, this.res[vehicle]]);
                    }
                    //alert(JSON.stringify(sortable));
                    sortable.sort(function(a, b) {
                        return a[1] - b[1];
                    });
                    this.res = {};
                    for(var i of sortable){
                        this.res[i[0]] = i[1];
                    }
                    var localStorage = window.localStorage;

                    localStorage.setItem(document.getElementById("patient").textContent, JSON.stringify(this.res))
                    /*for(var key in localStorage) {
                      if (localStorage.getItem(key) !== null) {
                        alert(key);
                        alert(localStorage.getItem(key));
                      }
                    }*/
                   // storage.setItem(document.getElementById("patient").textContent, JSON.stringify(this.res));
                   // alert(JSON.stringify(sortable));
                   // alert(JSON.stringify(this.res));
                }
          }
    })


</script>
</body>
</html>